.header__top {
	font-size: 16px;
	height: 74px;
}
.header__top nav {
	background: transparent none !important;
	display: inline !important;
	position: absolute;
}
.header__top .header__top__inner {
    background: transparent none repeat scroll 0 0;
    margin: 0 auto;
    max-width: inherit;
    position: relative;
    width: 100%;
}
@media only screen and (max-width: 1023px) {
	.header__top .header__top__inner {
	    width: 768px;
	}
}
@media only screen and (min-width: 1024px) {
	.header__top .header__top__inner {
	    width: 1024px;
	}
}
@media only screen and (max-width: 1023px) {
	.header__top .header__top__inner {
	    width: 768px;
	}
}
@media only screen and (min-width: 1024px) {
	.header__top .header__top__inner {
	    width: 1024px;
	}
}
@media only screen and (max-width: 1023px) {
	.header__top .header__top__inner {
	    width: 768px;
	}
}
@media only screen and (min-width: 1024px) {
	.header__top .header__top__inner {
	    width: 1024px;
	}
}
@media only screen and (max-width: 1023px) {
	.header__top .header__top__inner {
	    width: 768px;
	}
}
@media only screen and (min-width: 1024px) {
	.header__top .header__top__inner {
	    width: 1024px;
	}
}
@media only screen and (max-width: 1023px) {
	.header__top .header__top__inner {
	    width: 768px;
	}
}
@media only screen and (min-width: 1024px) {
	.header__top .header__top__inner {
	    width: 1024px;
	}
}
@media only screen and (max-width: 1023px) {
	.header__top .header__top__inner {
	    width: 768px;
	}
}
@media only screen and (min-width: 1024px) {
	.header__top .header__top__inner {
	    width: 1024px;
	}
}
@media only screen and (max-width: 1023px) {
	.header__top .header__top__inner {
	    width: 768px;
	}
}
@media only screen and (min-width: 1024px) {
	.header__top .header__top__inner {
	    width: 1024px;
	}
}
@media only screen and (max-width: 1023px) {
	.header__top .header__top__inner {
	    width: 768px;
	}
}
@media only screen and (min-width: 1024px) {
	.header__top .header__top__inner {
	    width: 1024px;
	}
}
@media only screen and (max-width: 1023px) {
	.header__top .header__top__inner {
	    width: 768px;
	}
}
@media only screen and (min-width: 1024px) {
	.header__top .header__top__inner {
	    width: 1024px;
	}
}
@media only screen and (max-width: 1023px) {
	.header__top .header__top__inner {
	    width: 768px;
	}
}
@media only screen and (min-width: 1024px) {
	.header__top .header__top__inner {
	    width: 1024px;
	}
}
@media only screen and (max-width: 1023px) {
	.header__top .header__top__inner {
	    width: 768px;
	}
}
@media only screen and (min-width: 1024px) {
	.header__top .header__top__inner {
	    width: 1024px;
	}
}
.header__top .header__top__inner .header__logo {
    display: inline-block;
    height: auto !important;
    padding: 0 !important;
	margin: 10px 9px !important;
}
.header__top .header__top__inner .header__logo a {
    color: #153359;
    display: inline-block;
    height: 54px;
    margin: 0;
    padding: 0;
    width: 243px;
}
.header__top .header__top__inner .header__logo a img {
    border: medium none;
    height: 54px;
    outline: 0 none;
    width: 243px;
}
.header__top .header__top__inner form {
    display: inline-block;
}
.header__top .nav--utility {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    position: relative;
}
@media only screen and (max-width: 1023px) {
	.header__top nav {		
		top: 34px;
	}
	.header__top .nav--utility {
	    font-size: 0.75em;
	    left: 60px;
	    top: 5px;
	}
	.header__top .sub-nav.reports {
	    left: -350%;
	}
	.header__top .search {
	    border: 1px solid #001871;
	    height: auto !important;
	    margin: 0.4em 0 0 0.5em;
		padding: 0;
	    position: absolute;
	    right: 0;
	    top: 8px;
	}
	.header__top .nav-heading {
	    color: #001871;
	    font-size: 0.857em;
	    font-weight: bold;
	    line-height: 1.45em;
	    padding: .56em;
	    text-decoration: none;
	    text-transform: uppercase;
	}

	.header__top .search-box{
	    position: absolute;
	    left: 845px;
	    top:40px;
	    z-index: 1;
	}
	
	.header__top .carrot-image{
	    width:13.197px;
	    height:15.239px;
         margin-left: 7px;
	   }
	
	.header__top .search-container{
	    background-color: #C8920e;
	    width: 306px;
   	    margin-left: -275px;
	}
	.header__top .search-textbox{
	   width:226px;
	   height:30px;
	   border: 3px solid #C8920e;
	}
	.header__top .search-button{
	   width:74px;
	   height: 20px;
	   border:#C8920e;
	   background-color: #C8920e;
	   font-family:Open sans;
	 }
	.header__top .search-text{
	   font-family: "Open Sans";	   
  	   color: #FFFFFF;
	   font-weight: bold;
	   font-size: 15px;
	}
}
@media only screen and (min-width: 1024px) {
	.header__top nav {		
		top: 28px;
	}
	.header__top .nav--utility {
	    font-size: 0.875em;
	    left: 24px;
	    top: 5px;
	}
	.header__top .sub-nav.reports {
	    left: -200%;
	}
	.header__top .search {
	    border: 1px solid #001871;
	    height: auto !important;
	    margin: 0.4em 0 0 0.5em;
	    position: absolute;
	    right: 0;
	    top: 33px;
	}
	.header__top .nav-heading {
	    color: #001871;
	    font-size: 0.857em;
	    font-weight: bold;
	    line-height: 1.45em;
	    padding: 1em;
	    text-decoration: none;
	    text-transform: uppercase;
	}

	.header__top .search-box{
	    position: absolute;
	    left: 990px;
	    top: 40px;
	    z-index: 1;
	}
	
	.header__top .carrot-image{
	    width:13.197px;
	    height:15.239px;
        margin-left: 7px;
	   }
	
	.header__top .search-container{
	    background-color: #C8920e;
	    width: 306px;
   	    margin-left: -275px;
	}
	.header__top .search-textbox{
	   width:226px;
	   height:30px;
	   border: 3px solid #C8920e;
	}
	.header__top .search-button{
	   width:74px;
	   height: 20px;
	   border:#C8920e;
	   background-color: #C8920e;
	   font-family:Open sans;
	 }
	.header__top .search-text{
	   font-family: "Open Sans";	   
  	   color: #FFFFFF;
	   font-weight: bold;
	   font-size: 15px;
	}
}
.header__top input:focus{
    border-color:#C8920e;
}

.header__top .hide-search-box
	{
		display:none;
}
	.header__top .show-search-box
	{
		display: block;
}

.header__top input::-ms-clear{
	    display:none;
}
.header__top .megnifing-glass{
	    cursor:pointer;
}

.header__top .nav--utility a {
    text-decoration: none;
}
.header__top .nav--utility a:hover, 
.header__top .nav--utility a:focus,
.header__top .nav-headingy:hover,
.header__top .nav-headingy:focus {
	color: #fff;
    text-decoration: none;
}
.header__top .nav-menu li {
    list-style: outside none none;
}
.header__top .nav-menu {
    list-style: outside none none;
    padding: 0;
    z-index: 250;
}
.header__top .nav-item {
    float: left;
    position: relative;
}
.header__top .nav-item.selected::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #00a795 transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 10px;
    content: "";
    display: block;
    left: calc(37%);
    position: absolute;
    top: 100%;
    width: 0;
}
.header__top .nav-item:hover::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #c6912c transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 10px;
    content: "";
    display: block;
    left: calc(37%);
    position: absolute;
    top: 100%;
    width: 0;
}
.header__top .nav-heading:hover, 
.header__top .nav-item:hover .nav-heading * {
    color: #fff;
    cursor: pointer;
}
.header__top .nav-heading a {
    color: #001871;
}
.header__top .nav-heading a:hover, 
.header__top .nav-heading div:hover {
    text-decoration: none;
}
.header__top .nav-item.selected .nav-heading, 
.header__top .nav-item.selected .nav-heading a {
    background-color: #00a795;
    color: #fff;
}
.header__top .nav-item.hover .nav-heading, 
.header__top .nav-item.hover .nav-heading a {
    background-color: #c6912c;
    color: #fff;
}
.header__top .nav-item > a.open, .nav-item > div.open, 
.header__top .header__top .nav-item.open, 
.header__top .nav-item.open > a, 
.header__top .nav-item.open > a:visited, 
.header__top .nav-item.open > div {
    background-color: #c6912c;
    color: #fff;
}
.header__top .nav-item:hover > .sub-nav {
    display: block;
}
.header__top .nav-item:hover, 
.header__top .nav-item a:hover, 
.header__top .nav-item div:hover, 
.header__top .nav-item:hover > a, 
.header__top .nav-item:hover > div {
    background-color: #c6912c;
    color: #fff;
}
.header__top .sub-nav {
    background-color: #c6912c;
    color: #fff;
    display: none;
    margin-left: -55%;
    padding: 1.2em 1.4em;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    z-index: 9999;
}
.header__top .sub-nav.open {
    display: block;
}
.header__top .sub-nav a, 
.header__top .sub-nav div {
    color: #fff;
    padding: 0;
}
.header__top .sub-nav a:hover {
    text-decoration: underline;
}
.header__top .sub-nav-group {
    background-color: #c6912c;
    color: #fff;
    display: inline-block;
    font-weight: normal;
    padding: 0;
    position: relative;
    text-align: left;
    text-transform: none;
    vertical-align: top;
    white-space: nowrap;
    z-index: 99;
}
.header__top .sub-nav.reports .sub-nav-group:nth-child(2) {
    margin-left: 2em;
    margin-right: 2em;
}
.header__top .sub-nav-group ul {
    padding: 0;
}
.header__top .sub-nav-section div {
    text-transform: uppercase;
}
.header__top .sub-nav-section > div {
    font-weight: bold;
    text-transform: uppercase;
}
.header__top .sub-nav-section ul ul li {
    list-style: outside none square;
    margin-left: 1.5em;
}
.header__top .nav-vertical-devider {
    border-left: 1px solid #fff;
    display: inline-block;
    height: 23.5em;
    margin: 0.5em 1.5em 0 0;
    width: 1px;
}
.header__top .search input {
	background-color: transparent;
    border: 0 none;
    font-size: 0.875em;
	height: 21px;
    margin: 0;
    max-width: 165px;
    padding: 0 0 0 0.5em !important;
    vertical-align: top;
}
.header__top .search #searchButton {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    margin: 0.15em 0 0 0.3em !important;
    min-width: 1.5em;
    padding: 0;
    vertical-align: top;
    height: 17px !important;
}
.header__top .search #searchButton img {
    vertical-align: inherit !important;
	margin-top: 1px !important;
}