.nrc-report .menu-section div:hover{
    color:white;
    background: #c69214;
    cursor: pointer;
}

.nrc-report .menu-section div.selected{
    color:white;
    background: #c69214;
    cursor: pointer;
}

.nrc-report div.menu-section-header{
    color:#4c4c4c;
    background: #d6ad4a;
    cursor: pointer;
}

.nrc-report .select-options input{
    background:#c69214;
    color:white;
}

.nrc-report .select-options input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink;
}
.nrc-report .select-options input::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}
.nrc-report .select-options input:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}
.nrc-report .select-options input:-moz-placeholder { /* Firefox 18- */
  color: pink;
} 